.title{
    width: 100vw;
    min-width: 600px;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.title .Titem1{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 50px;
}

.title .Titem1 a{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 22px;
}

.title .Titem2{
    height: 100%;
}

.title .Titem2 a{
    width: 150px;
    height: 100%;
    display: inline-block;
    color: rgb(255,255,255);
    /* text-shadow: rgb(0,0,0) 0px 0px 1px; */
    font-size: 16px;
    font-weight: 400;
    padding: 13px 0 15px;
    transition: all 0.3s;
}

.title .Titem2 a:hover{
    color: rgb(25, 175, 235);
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
    text-shadow: rgb(255, 255, 255) 0px 0px 2px;
}