.title{
    width: 100%;
    min-width: 600px;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.title .Titem1{
    height: 100%;
    padding: 10px 50px;
    display: flex;
}

.title .Titem1 a{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 22px;
}

.title .title_search_div{
    position: relative;
    top: 5px;
    left: 10px;
    display: flex;
}

.title .title_search{
    width: 230px;
    height: 32px;
    padding: 0 10px;
    font-size: 14px;
    border: none;
}

.title .title_search_icon{
    position: relative;
    width: 30px;
    height: 30px;
    left: -31px;
    top: 1px;
    background-image: url(../../img/icon/search.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title .title_search:active{
    border: none;
    outline: none;
}

.title .Titem2{
    height: 100%;
}

.title .Titem2 a{
    width: 150px;
    height: 100%;
    display: inline-block;
    color: rgb(255,255,255);
    /* text-shadow: rgb(0,0,0) 0px 0px 1px; */
    font-size: 16px;
    font-weight: 400;
    padding: 13px 0 15px;
    transition: all 0.3s;
}

.title .Titem2 a:hover{
    color: rgb(15, 112, 150);
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
    text-shadow: rgb(255, 255, 255) 0px 0px 2px;
}