.title{
    width: 100%;
    min-width: 600px;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.title .Titem1{
    height: 100%;
    padding: 10px 50px;
    display: flex;
}

.title .Titem1 a{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 22px;
}

.title .title_search_div{
    position: relative;
    top: 5px;
    left: 10px;
    display: flex;
}

.title .title_search{
    width: 260px;
    height: 44px;
    padding: 0 10px 0 42px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgb(0,0,0);
    border-radius: 5px;
}

.title .title_search_icon{
    position: relative;
    width: 30px;
    height: 30px;
    left: -255px;
    top: 5px;
    background-image: url(../../img/icon/search.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title .title_search:active{
    border: none;
    outline: none;
}

.title .Titem2{
    height: 100%;
}

.title .Titem2 a{
    width: 150px;
    height: 100%;
    display: inline-block;
    color: rgb(255,255,255);
    text-shadow: rgb(55, 55, 55) 0px 0px 2px;
    font-size: 20px;
    font-weight: 400;
    padding-top: 13px;
    transition: all 0.3s;
}

.title .Titem2 a:hover{
    color: rgb(30, 167, 221);
    font-weight: 600;
}