<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.HotelMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.domain.Hotel">
    <constructor>
      <idArg column="h_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="h_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="h_city" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="h_address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="h_star" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="h_longtitude" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="h_latitude" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="h_rates" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="h_score" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="h_overview" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="h_photo1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="h_photo2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="h_photo3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="h_photo4" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="h_photo5" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="h_tel" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    h_id, h_name, h_city, h_address, h_star, h_longtitude, h_latitude, h_rates, h_score, 
    h_overview, h_photo1, h_photo2, h_photo3, h_photo4, h_photo5, h_tel
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.domain.HotelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hotel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hotel
    where h_id = #{hId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hotel
    where h_id = #{hId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.domain.HotelExample">
    delete from hotel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.domain.Hotel">
    <selectKey keyProperty="hId" order="AFTER" resultType="java.lang.Integer">
      select uuid_short()
    </selectKey>
    insert into hotel (h_name, h_city, h_address, 
      h_star, h_longtitude, h_latitude, 
      h_rates, h_score, h_overview, 
      h_photo1, h_photo2, h_photo3, 
      h_photo4, h_photo5, h_tel
      )
    values (#{hName,jdbcType=VARCHAR}, #{hCity,jdbcType=VARCHAR}, #{hAddress,jdbcType=VARCHAR}, 
      #{hStar,jdbcType=INTEGER}, #{hLongtitude,jdbcType=DOUBLE}, #{hLatitude,jdbcType=DOUBLE}, 
      #{hRates,jdbcType=INTEGER}, #{hScore,jdbcType=INTEGER}, #{hOverview,jdbcType=VARCHAR}, 
      #{hPhoto1,jdbcType=VARCHAR}, #{hPhoto2,jdbcType=VARCHAR}, #{hPhoto3,jdbcType=VARCHAR}, 
      #{hPhoto4,jdbcType=VARCHAR}, #{hPhoto5,jdbcType=VARCHAR}, #{hTel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.domain.Hotel">
    <selectKey keyProperty="hId" order="AFTER" resultType="java.lang.Integer">
      select uuid_short()
    </selectKey>
    insert into hotel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hName != null">
        h_name,
      </if>
      <if test="hCity != null">
        h_city,
      </if>
      <if test="hAddress != null">
        h_address,
      </if>
      <if test="hStar != null">
        h_star,
      </if>
      <if test="hLongtitude != null">
        h_longtitude,
      </if>
      <if test="hLatitude != null">
        h_latitude,
      </if>
      <if test="hRates != null">
        h_rates,
      </if>
      <if test="hScore != null">
        h_score,
      </if>
      <if test="hOverview != null">
        h_overview,
      </if>
      <if test="hPhoto1 != null">
        h_photo1,
      </if>
      <if test="hPhoto2 != null">
        h_photo2,
      </if>
      <if test="hPhoto3 != null">
        h_photo3,
      </if>
      <if test="hPhoto4 != null">
        h_photo4,
      </if>
      <if test="hPhoto5 != null">
        h_photo5,
      </if>
      <if test="hTel != null">
        h_tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hName != null">
        #{hName,jdbcType=VARCHAR},
      </if>
      <if test="hCity != null">
        #{hCity,jdbcType=VARCHAR},
      </if>
      <if test="hAddress != null">
        #{hAddress,jdbcType=VARCHAR},
      </if>
      <if test="hStar != null">
        #{hStar,jdbcType=INTEGER},
      </if>
      <if test="hLongtitude != null">
        #{hLongtitude,jdbcType=DOUBLE},
      </if>
      <if test="hLatitude != null">
        #{hLatitude,jdbcType=DOUBLE},
      </if>
      <if test="hRates != null">
        #{hRates,jdbcType=INTEGER},
      </if>
      <if test="hScore != null">
        #{hScore,jdbcType=INTEGER},
      </if>
      <if test="hOverview != null">
        #{hOverview,jdbcType=VARCHAR},
      </if>
      <if test="hPhoto1 != null">
        #{hPhoto1,jdbcType=VARCHAR},
      </if>
      <if test="hPhoto2 != null">
        #{hPhoto2,jdbcType=VARCHAR},
      </if>
      <if test="hPhoto3 != null">
        #{hPhoto3,jdbcType=VARCHAR},
      </if>
      <if test="hPhoto4 != null">
        #{hPhoto4,jdbcType=VARCHAR},
      </if>
      <if test="hPhoto5 != null">
        #{hPhoto5,jdbcType=VARCHAR},
      </if>
      <if test="hTel != null">
        #{hTel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.domain.HotelExample" resultType="java.lang.Long">
    select count(*) from hotel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hotel
    <set>
      <if test="record.hId != null">
        h_id = #{record.hId,jdbcType=INTEGER},
      </if>
      <if test="record.hName != null">
        h_name = #{record.hName,jdbcType=VARCHAR},
      </if>
      <if test="record.hCity != null">
        h_city = #{record.hCity,jdbcType=VARCHAR},
      </if>
      <if test="record.hAddress != null">
        h_address = #{record.hAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.hStar != null">
        h_star = #{record.hStar,jdbcType=INTEGER},
      </if>
      <if test="record.hLongtitude != null">
        h_longtitude = #{record.hLongtitude,jdbcType=DOUBLE},
      </if>
      <if test="record.hLatitude != null">
        h_latitude = #{record.hLatitude,jdbcType=DOUBLE},
      </if>
      <if test="record.hRates != null">
        h_rates = #{record.hRates,jdbcType=INTEGER},
      </if>
      <if test="record.hScore != null">
        h_score = #{record.hScore,jdbcType=INTEGER},
      </if>
      <if test="record.hOverview != null">
        h_overview = #{record.hOverview,jdbcType=VARCHAR},
      </if>
      <if test="record.hPhoto1 != null">
        h_photo1 = #{record.hPhoto1,jdbcType=VARCHAR},
      </if>
      <if test="record.hPhoto2 != null">
        h_photo2 = #{record.hPhoto2,jdbcType=VARCHAR},
      </if>
      <if test="record.hPhoto3 != null">
        h_photo3 = #{record.hPhoto3,jdbcType=VARCHAR},
      </if>
      <if test="record.hPhoto4 != null">
        h_photo4 = #{record.hPhoto4,jdbcType=VARCHAR},
      </if>
      <if test="record.hPhoto5 != null">
        h_photo5 = #{record.hPhoto5,jdbcType=VARCHAR},
      </if>
      <if test="record.hTel != null">
        h_tel = #{record.hTel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hotel
    set h_id = #{record.hId,jdbcType=INTEGER},
      h_name = #{record.hName,jdbcType=VARCHAR},
      h_city = #{record.hCity,jdbcType=VARCHAR},
      h_address = #{record.hAddress,jdbcType=VARCHAR},
      h_star = #{record.hStar,jdbcType=INTEGER},
      h_longtitude = #{record.hLongtitude,jdbcType=DOUBLE},
      h_latitude = #{record.hLatitude,jdbcType=DOUBLE},
      h_rates = #{record.hRates,jdbcType=INTEGER},
      h_score = #{record.hScore,jdbcType=INTEGER},
      h_overview = #{record.hOverview,jdbcType=VARCHAR},
      h_photo1 = #{record.hPhoto1,jdbcType=VARCHAR},
      h_photo2 = #{record.hPhoto2,jdbcType=VARCHAR},
      h_photo3 = #{record.hPhoto3,jdbcType=VARCHAR},
      h_photo4 = #{record.hPhoto4,jdbcType=VARCHAR},
      h_photo5 = #{record.hPhoto5,jdbcType=VARCHAR},
      h_tel = #{record.hTel,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.domain.Hotel">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jun 26 20:53:06 CST 2019.
    -->
    update hotel
    <set>
      <if test="hName != null">
        h_name = #{hName,jdbcType=VARCHAR},
      </if>
      <if test="hCity != null">
        h_city = #{hCity,jdbcType=VARCHAR},
      </if>
      <if test="hAddress != null">
        h_address = #{hAddress,jdbcType=VARCHAR},
      </if>
      <if test="hStar != null">
        h_star = #{hStar,jdbcType=INTEGER},
      </if>
      <if test="hLongtitude != null">
        h_longtitude = #{hLongtitude,jdbcType=DOUBLE},
      </if>
      <if test="hLatitude != null">
        h_latitude = #{hLatitude,jdbcType=DOUBLE},
      </if>
      <if test="hRates != null">
        h_rates = #{hRates,jdbcType=INTEGER},
      </if>
      <if test="hScore != null">
        h_score = #{hScore,jdbcType=INTEGER},
      </if>
      <if test="hOverview != null">
        h_overview = #{hOverview,jdbcType=VARCHAR},
      </if>
      <if test="hPhoto1 != null">
        h_photo1 = #{hPhoto1,jdbcType=VARCHAR},
      </if>
      <if test="hPhoto2 != null">
        h_photo2 = #{hPhoto2,jdbcType=VARCHAR},
      </if>
      <if test="hPhoto3 != null">
        h_photo3 = #{hPhoto3,jdbcType=VARCHAR},
      </if>
      <if test="hPhoto4 != null">
        h_photo4 = #{hPhoto4,jdbcType=VARCHAR},
      </if>
      <if test="hPhoto5 != null">
        h_photo5 = #{hPhoto5,jdbcType=VARCHAR},
      </if>
      <if test="hTel != null">
        h_tel = #{hTel,jdbcType=VARCHAR},
      </if>
    </set>
    where h_id = #{hId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.domain.Hotel">
    update hotel
    set h_name = #{hName,jdbcType=VARCHAR},
      h_city = #{hCity,jdbcType=VARCHAR},
      h_address = #{hAddress,jdbcType=VARCHAR},
      h_star = #{hStar,jdbcType=INTEGER},
      h_longtitude = #{hLongtitude,jdbcType=DOUBLE},
      h_latitude = #{hLatitude,jdbcType=DOUBLE},
      h_rates = #{hRates,jdbcType=INTEGER},
      h_score = #{hScore,jdbcType=INTEGER},
      h_overview = #{hOverview,jdbcType=VARCHAR},
      h_photo1 = #{hPhoto1,jdbcType=VARCHAR},
      h_photo2 = #{hPhoto2,jdbcType=VARCHAR},
      h_photo3 = #{hPhoto3,jdbcType=VARCHAR},
      h_photo4 = #{hPhoto4,jdbcType=VARCHAR},
      h_photo5 = #{hPhoto5,jdbcType=VARCHAR},
      h_tel = #{hTel,jdbcType=VARCHAR}
    where h_id = #{hId,jdbcType=INTEGER}
  </update>
</mapper>