.booking_content_box{
    min-height: 80vh;
}

.booking_item_content{
    position: relative;
    opacity: 1;
    width: 90%;
    min-width: 1050px;
    padding: 15px 0;
    border: 2px solid rgb(32, 182, 241);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(55,55,55);
    margin: 20px auto;
}

.booking_item_main{
    min-height: 108px;
    display: flex;
    position: relative;
}

.booking_item_left_tab{
    width: 20px;
    background-color: rgb(32, 182, 241);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

.booking_item_left{
    flex: 1;
    margin: 0 5px;
    background-image: url(../../img/hotel/hotel_001.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.booking_item_mid{
    flex: 2;
    padding: 0 3px;
    border-right: 1px solid rgba(32, 182, 241, 0.5);
    border-left: 1px solid rgba(32, 182, 241, 0.5);
}

.booking_item_right{
    display: flex;
    justify-content: flex-start;
    max-width: 200px;
}

.booking_item_op_button{
    text-align: center;
    width: 80px;
    height: 50px;
    padding-top: 30px;
    margin: 10px;
    background: rgb(221, 97, 89);
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    color: rgb(255,255,255);
}

.booking_item_op_button:active{
    background: rgb(202, 61, 51);
}

.booking_item_right_tab{
    width: 10px;
    height: 10px;
    background-image: url(../../img/icon/cancel.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -8px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.booking_item_right_tab:hover{
    width: 15px;
    height: 15px;
}


/* 修改信息间距 */
.item_row{
    margin-top: 8px!important;
    width: 80%!important;
    min-width: 400px!important;
    margin: 0 auto;
}

.score_page{
    z-index: 15;
    position: fixed;
    top: 10vh;
    right: -250px;
    padding: 10px;
    height: 80px;
    width: 200px;
    background: rgb(255,255,255);
    border-left: 10px solid rgb(0,0,0);
    border-top: 2px solid rgb(0,0,0);
    border-bottom: 2px solid rgb(0,0,0);
    box-shadow: 2px 2px 10px rgb(55,55,55);
}

.score_title{
    text-align: center;
    height: 24px;
}

.score_content{
    margin: 10px auto;
    width: 150px;
}

.score_cancel{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-image:  url(../../img/icon/cancel.png);
    background-size: contain;
    transition: all 0.3s;
    cursor: pointer;
}

.score_cancel:hover{
    transform: scale(1.3,1.3);
}