.check_big_div{
    margin: 50px auto;
    width: 40vw!important;
    min-width: 500px!important;
}

.check_big_div input{
    border: none;
    outline: none;
    text-align: center;
}

.check_big_div .left_span{
    text-align: left!important;
}