@charset "utf-8";
/* all style */
:root {
    --size: 30px;
}
ul,ol,li{ margin:0; padding:0; }

/*容器*/
.xzw_starSys{padding:50px;margin:100px auto}
.xzw_starBox{position:relative;width:calc(var(--size)*5);}

/*动态*/
.xzw_starBox .description{clear:both;padding:10px 0px}
.xzw_starBox .star{height:calc(var(--size)/6*5);width:calc(var(--size)*5);position:relative;background:url(../../img/star/lanrentuku.png) repeat-x;cursor:pointer}
.xzw_starBox .star li{float:left;padding:0px;margin:0px}
.xzw_starBox .star li a{display:block;width:calc(var(--size)/6*5);height:calc(var(--size)/6*5);overflow:hidden;text-indent:-9999px;position:absolute;z-index:5}
.xzw_starBox .star li a:hover{background:url(../../img/star/lanrentuku.png) 0 calc(-1*var(--size)) repeat-x;z-index:2;left:0}
.xzw_starBox .star a.star1{left:0}
.xzw_starBox .star a.star1:hover{width:calc(var(--size))}
.xzw_starBox .star a.star2{left:calc(var(--size))}
.xzw_starBox .star a.star2:hover{width:calc(2*var(--size))}
.xzw_starBox .star a.star3{left:calc(2*var(--size))}
.xzw_starBox .star a.star3:hover{width:calc(3*var(--size))}
.xzw_starBox .star a.star4{left:calc(3*var(--size))}
.xzw_starBox .star a.star4:hover{width:calc(4*var(--size))}
.xzw_starBox .star a.star5{left:calc(4*var(--size))}
.xzw_starBox .star a.star5:hover{width:calc(5*var(--size))}

/* 静态 */
.xzw_starBox .show{display: inline-block;height:calc(var(--size)/6*5);width:calc(var(--size)*5);position:relative;background:url(../../img/star/lanrentuku.png) repeat-x;}
.xzw_starBox .show .score{display: inline-block; height:calc(var(--size)/6*5);width:calc(var(--size)*5);position:relative;background:url(../../img/star/lanrentuku.png) 0 calc(-1*var(--size)) repeat-x;}
.xzw_starBox .show .score1{width:calc(0.4*var(--size))}
.xzw_starBox .show .score2{width:calc(1*var(--size))}
.xzw_starBox .show .score3{width:calc(1.4*var(--size))}
.xzw_starBox .show .score4{width:calc(2*var(--size))}
.xzw_starBox .show .score5{width:calc(2.4*var(--size))}
.xzw_starBox .show .score6{width:calc(3*var(--size))}
.xzw_starBox .show .score7{width:calc(3.4*var(--size))}
.xzw_starBox .show .score8{width:calc(4*var(--size))}
.xzw_starBox .show .score9{width:calc(4.4*var(--size))}
.xzw_starBox .show .score10{width:calc(5*var(--size))}