:root {
    --pixel: 8px;
}

.item_block_big{
    padding: 40px 0;
    margin: 50px auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-top: 1px solid rgba(105,105,105,0.5);
    border-bottom: 1px solid rgba(105,105,105,0.5);
}