:root {
    --max_width: 380px;
    --width: 28vw;
    --min_width: 280px;
}

.booking_div{
    position: absolute;
    max-width: calc(var(--max_width));
    width: calc(var(--width));
    min-width: calc(var(--min_width));
    top: 500px;
    right: 3vw;
    padding: 0 20px;
    border: rgb(221, 97, 89) 1px solid;
    background: rgb(255,255,255);
    z-index: 10;
}

.booking_simple_info{
    padding: 15px 0;
    border-bottom: rgba(105,105,105,0.5) 1px solid;
}

.booking_form{
    max-width: calc(var(--max_width));
    width: calc(var(--width));
    min-width: calc(var(--min_width));
    padding: 15px 0;
}

.booking_form p{
    margin: 25px 0 5px;
}

.booking_small_div{
    max-width: calc(var(--max_width));
    width: calc(var(--width));
    min-width: calc(var(--min_width));
    display: flex;
    justify-content: space-between;
    
}

.booking_small_div .booking_text{
    text-align: center;
    width: 100px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    flex: 1;
}

.booking_bottom{
    background: rgba(47, 160, 191, 1);
    height: 20px;
    margin-top: 30px;
}

.booking_top{
    background: rgb(221, 97, 89);
    height: 20px;
    margin-bottom: 30px;
}

.booking_button{
    width: 100%;
    height: 45px;
    margin-top: 40px;
    color: rgb(255,255,255);
    background: rgb(221, 97, 89);
    border: none;
    cursor: pointer;
}

.booking_button:active{
    font-size: 16px;
    font-weight: 600px;
    background: rgb(202, 61, 51);
    border: none;
}