.previewShowWindow{
    position:absolute;
    border:1px solid #dadade;
    background:#95959d;
    padding:5px;display:none;
    color:#fff;
    text-align:center;
    z-index:999;
}

/* 放大图片的大小，长宽比不变 */
#pi{
    width: 50vw;
    min-width: 500px;
    max-height: 300px;
}

.pic_bar{
    display: flex;
}

/* 大小设置在hotel_item的style.css中 */
.preview{
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    margin-right: 15px;
    border-radius: 5px;
    border: 0px solid rgba(0,0,0,0.7);
    transition: all 0.3s;
}

.preview:hover{
    transform: scale(1.1,1.1);
}
