<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户信息管理</title>
    <!-- 公有 -->
    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/public_js/message.js"></script>
    <link rel="stylesheet" href="css/public_effect/common.css">
    <!--本页-->
    <!-- 标题 -->
    <link rel="stylesheet" href="css/title/style.css">
    <!-- 管理信息列表 -->
    <link rel="stylesheet" href="css/admin_check_list/style.css">
</head>
<body>
    <!-- 标题 -->
    <div class="title">
        <div class="Titem1">
            <a href="/home"><div class="web_logo"></div></a>
        </div>
    </div>
    <!-- 标题结束 -->

    <!-- 管理信息确认 -->
    <div class="check_content">
        <div class="check_list">
            <div class="check_div"><span class="check_name">订单ID：</span><input class="check_input" type="text" readonly="readonly"></div>
            <div class="check_div"><span class="check_name">是否支付:</span><input class="check_input" type="text" readonly="readonly"></div>
        </div>
        <div class="check_list">
            <div class="check_div"><span class="check_name">下单人ID:</span><input class="check_input" type="text" readonly="readonly"></div>
            <div class="check_div"><span class="check_name">酒店ID:</span><input class="check_input" type="text" readonly="readonly"></div>
        </div>
        <div class="check_list">
            <div class="check_div"><span class="check_name">入住时间:</span><input class="check_input" type="text" readonly="readonly"></div>
            <div class="check_div"><span class="check_name">离开时间:</span><input class="check_input" type="text" readonly="readonly"></div>
        </div>
        <div class="check_list">
            <div class="check_div"><span class="check_name">订单全价:</span><input class="check_input" type="text" readonly="readonly"></div>
            <div class="check_div"><span class="check_name">订单折扣:</span><input class="check_input" type="text" readonly="readonly"></div>
        </div>
        <div class="check_list">
            <div class="check_div"><span class="check_name">到达时间:</span><input class="check_input" type="text" readonly="readonly"></div>
            <div class="check_div"><span class="check_name">总计人数:</span><input class="check_input" type="text" readonly="readonly"></div>
        </div>
        <div class="check_op">
            <div class="check_btn">重置信息</div>
            <div class="check_btn">确认修改</div>
        </div>
    </div>
        



    <!-- 底部 -->
    <div class="page_bottom">
        <div class="web_logo"></div>
        <div class="page_bottom_text">四川大学JAVA项目27组</div>
    </div>


</body>
</html>