<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户信息管理</title>
    <!-- 公有 -->
    <script type="text/javascript" src="../js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../js/vue.min.js"></script>
    <script type="text/javascript" src="../js/public_js/message.js"></script>
    <script type="text/javascript" src="../js/admin/adminHotelOp.js"></script>
    <link rel="stylesheet" href="../css/public_effect/common.css">
    <!--本页-->
    <!-- 标题 -->
    <link rel="stylesheet" href="../css/title/style.css">
    <!-- 管理信息列表 -->
    <link rel="stylesheet" href="../css/admin_check_list/style.css">
</head>
<body>
    <!-- 标题 -->
    <div class="title">
        <div class="Titem1">
            <a href="/home"><div class="web_logo"></div></a>
        </div>
        <!-- 装饰 -->
        <div class="decoration_2"></div>
    </div>
    <!-- 标题结束 -->

    <!-- 管理信息确认 -->
    <form class="check_content" method="post" action="/addHotel">
        <div class="check_list">
            <div class="check_div"><span class="check_name">酒店ID：</span><input class="check_input" type="text" name="hId"  ></div>
            <div class="check_div"><span class="check_name">酒店名:</span><input class="check_input" type="text" name="hname" ></div>
        </div>
        <div class="check_list">
            <div class="check_div"><span class="check_name">酒店城市：</span><input class="check_input" type="text" name="hcity"  ></div>
            <div class="check_div"><span class="check_name">酒店电话:</span><input class="check_input" type="text" name="htel" ></div>
        </div>
        <div class="check_list">
            <div class="check_div"><span class="check_name">酒店地址:</span><input class="check_input" type="text" name="hAddress" ></div>
            <div class="check_div"><span class="check_name">酒店星级:</span><input class="check_input" type="text" name="hStar"></div>
        </div>
        <div class="check_list">
            <div class="check_div"><span class="check_name">酒店经度:</span><input class="check_input" type="text" name="hLongtitude" ></div>
            <div class="check_div"><span class="check_name">酒店纬度:</span><input class="check_input" type="text" name="hLatitude" ></div>
        </div>
        <div class="check_list">
            <div class="check_div"><span class="check_name">酒店均价:</span><input class="check_input" type="text" name="hRates" ></div>
            <div class="check_div"><span class="check_name">酒店评分:</span><input class="check_input" type="text" name="hScore" ></div>
        </div>
        <div class="check_list">
            <div class="check_div"><span class="check_name">酒店图片1:</span><input class="check_input" type="text" name="hPhoto1" ></div>
            <div class="check_div"><span class="check_name">酒店图片2:</span><input class="check_input" type="text" name="hPhoto2" ></div>
        </div>
        <div class="check_list">
            <div class="check_div"><span class="check_name">酒店图片3:</span><input class="check_input" type="text" name="hPhoto3" ></div>
            <div class="check_div"><span class="check_name">酒店图片4:</span><input class="check_input" type="text" name="hPhoto4" ></div>
        </div>
        <div class="check_list">
            <div class="check_div"><span class="check_name">酒店图片5:</span><input class="check_input" type="text" name="hPhoto5" ></div>
        </div>
        <div class="check_list">
            <div class="check_div"><span class="check_name">酒店概述:</span><textarea class="check_textarea" name="hOverview" ></textarea></div>
        </div>
        <div class="check_op">
            <input class="check_btn" id="clear" value="重置信息"></input>
            <input class="check_btn" type="submit" value="确认修改"></input>
        </div>
    </form>
        



    <!-- 底部 -->
    <div class="page_bottom">
        <!-- 装饰 -->
        <div class="decoration_3"></div>
        <div class="web_logo"></div>
        <div class="page_bottom_text">四川大学JAVA项目27组</div>
    </div>



</body>
</html>