<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 公有 -->
    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/public_js/message.js"></script>
    <link rel="stylesheet" href="css/public_effect/common.css">
    <!--本页-->
    <link rel='stylesheet' href='css/admin_search/style.css'>
    <script type="text/javascript" src="js/admin_search/search.js"></script>
    <script type="text/javascript" src="js/admin/AdminManage.js"></script>
    <script type="text/javascript" src="js/admin/adminSearchUser.js"></script>
<script>
    // function adminManage() {
    //     alert("222")
    //     var tmp1=($(this).prev()).children('.result_info_item').eq(0);
    //     var tmp1=$(this).attr("id");
    //     alert((tmp1));
    //
    //     $.ajax(
    //         {
    //             type: "POST",
    //             url: "/adminManage",
    //             dataType:'json',
    //             data:{"foss":$(this).prev().children('.result_info_item').eq(0).text()} ,
    //             success: function (res)
    //             {
    //                 alert("333")
    //                 var tmp=$(".admin_search_bar_select  option:selected").attr('value');
    //                 alert(tmp);
    //                 if(tmp=="0")
    //                 {
    //                     window.location.href="/adminUser/"+res;
    //                 }
    //                 else if(res=="1")
    //                 {
    //                     window.location.href="/adminHotel/"+res;
    //                 }
    //                 else
    //                 {
    //                     window.location.href="/adminOrder/"+res;
    //                 }
    //             },
    //             error:function (msg) {
    //                 alert("错误");
    //                 var tmp=$(".admin_search_bar_select  option:selected").attr('value');
    //                 alert(tmp1);
    //                 if(tmp=="0")
    //                 {
    //                     alert("adminUser/"+tmp1)
    //                     window.location.href="adminUser/"+tmp1;
    //                 }
    //             }
    //         }
    //     );
    // }
</script>


    <!-- 标题 -->
    <link rel="stylesheet" href="css/title/style.css">
</head>
<body>
    <!-- 标题 -->
    <div class="title">
        <div class="Titem1">
            <a href="/home"><div class="web_logo"></div></a>
        </div>
    </div>
    <!-- 标题结束 -->

    <div class="admin_search_content">
        <div class="admin_search_bar">
            <div class="admin_search_bar_0">
                <select class="admin_search_bar_select">
                    <option value="0">用户</option>
                    <option value="1">酒店</option>
                    <option value="2">订单</option>
                </select>
            </div>
            <div class="admin_search_bar_1">
                <input class="admin_search_bar_input" type="text" placeholder="输入搜索内容...">
            </div>
            <div class="admin_search_bar_2">
                <div class="admin_search_bar_btn">搜索</div>
            </div>
        </div>
    </div>

    <div class="admin_search_result" >
    </div>
    



    <!-- 底部 -->
    <div class="page_bottom">
        <div class="web_logo"></div>
        <div class="page_bottom_text">四川大学JAVA项目27组</div>
    </div>


</body>
</html>