<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片延迟加载缓冲效果</title>
<meta name="keywords" content="图片延迟加载,缓冲效果" />
<meta name="description" content="图片延迟加载缓冲效果js插件下载。" /> 
<meta name="author" content="branch_picture_showing_delay" />
<meta name="copyright" content="branch_picture_showing_delay" />
<style type="text/css">
*{
	margin:0;
	padding:0;
	}
.cb{
	clear:both;
	}
.cat{
	width:962px;
	height:auto;
	border:1px solid #b2b2b2;
	margin:0 auto;
	padding-bottom:10px;
	}
.cat ul{
	}
.cat ul li{
	list-style-type:none;
	width:226px;
	height:300px;
	border:1px solid #d2d2d2;
	float:left;
	margin-left:10px;
	margin-top:10px;
	_display:inline;
	}
</style>
<script src="js/branch_picture_showing_delay/css.js" type="text/javascript"></script>
<script src="js/branch_picture_showing_delay/lazyload.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    //列表页图片延时加载操作
    $(".cat").find("img").lazyload({effect : "fadeIn",placeholder : "img/branch/grey.gif"});
  });
</script>
</head>

<body>
<div class="cat">
  <ul>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
     <li><img src="img\hotel\bg_003.jpg" width="226" height="300" alt="" /></li>
  </ul>
  <div class="cb"></div>
</div>
</body>
</html>