<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下拉select省市选择</title>
    <meta name="keywords" content="下拉select,省市选择,插件" />
    <meta name="description" content="下拉select省市选择插件" /> 
    <meta name="author" content="hotel booking" />
    <meta name="copyright" content="hotel booking" />
    <link rel="stylesheet" href="css/citySelect.css">
</head>
<body>
<div class="search">
    <div class="citySelect">
        <span class="cityName">北京</span>
        <i class="iconDown"></i>
        <i class="line"></i>
    </div>

    <div class="dropDown">
        <div class="dropProv">
            <ul class="dropProvUl dropUl"></ul>
        </div>
        <div class="dropCity">
            <ul class="dropCityUl dropUl"></ul>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/citySelect.js"></script>
</body>
</html>