<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>jQuery在线生成网址二维码带logo图片可保存图片二维码特效插件</title>
    <meta name="keywords" content="jQuery,在线生成,网址二维码,带logo图片,保存图片,二维码,特效插件" />
    <meta name="description" content="jQuery在线生成网址二维码带logo图片可保存图片二维码特效插件下载。可自定义二维码中间logo图片及二维码图片大小，支持直接另存为图片，非常简单易用的一款二维码图片生成插件。" /> 
    <meta name="author" content="js代码(www.jsdaima.com)" />
    <meta name="copyright" content="js代码(www.jsdaima.com)" />
    <link rel="stylesheet" type="text/css" href="css/qrcode/qrcode.css">
    <!-- 标题 -->
    <link rel="stylesheet" href="css/public_effect/common.css">
    <link rel="stylesheet" href="css/title/style.css">
    <!-- 二维码生成 -->
    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="js/qrcode/qrcode.js"></script>
    <script type="text/javascript" src="js/qrcode/utf.js"></script>
    <script type="text/javascript" src="js/qrcode/jquery.qrcode.js" ></script>
    <script type="text/javascript" src="js/qrcode/generate.js" ></script>
</head>
<body>
    <!-- 标题 -->
    <!-- 标题 -->
    <div class="title">
        <div class="Titem1">
            <a href="/home"><div class="web_logo"></div></a>
            <div class="title_search_div">
                <input class="title_search" type="search" placeholder="搜索...">
                <div class="title_search_icon"></div>
            </div>
        </div>
        <div class="Titem2">
            <a href="javascript:;" style="color: rgb(0,0,0)">登录/注册</a>
        </div>
    </div>
    <!-- 标题结束 -->
    
    <!-- 二维码生成 -->
    <div id='qrcode' style='width: 300px; margin: 10% auto;'></div>
    
    <!-- 底部 -->
    <div class="page_bottom">
        <div class="web_logo"></div>
        <div class="page_bottom_text">四川大学JAVA项目27组</div>
    </div>

</body>
</html>