<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/hotel_item/style.css">
    <link rel="stylesheet" type="text/css" href="css/pic_show/style.css">
    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="js/pic_show/bigger.js"></script>
</head>
<body>
    <div class="item_bar">
        <div class="item_moreInfo">
            <div class="item_mid">更多信息</div>
        </div>
        <div class="item_info">
            <div class="item_simpleInfo">
                    <div class="item_position">中国-四川-成都</div>
                <div class="item_name">金华大酒店</div>
                <div class="item_score">评分：3.8</div>
            </div>
            <div class="item_picBar">
                <div class="pic_bar">
                    <a href="" path="img/fourPicShow/hotel01.jpg" style="background-image: url(img/fourPicShow/hotel01.jpg);" class="preview"></a>
                    <a href="" path="img/fourPicShow/hotel02.jpg" style="background-image: url(img/fourPicShow/hotel02.jpg);" class="preview"></a>
                    <a href="" path="img/fourPicShow/hotel03.jpg" style="background-image: url(img/fourPicShow/hotel03.jpg);" class="preview"></a>                
                </div>
            </div> 
        </div>
        <div class="item_op">
            <div class="item_mid">订购</div>
        </div>
    </div>
</body>
</html>