<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 公有 -->
    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/public_js/message.js"></script>
    <link rel="stylesheet" href="css/public_effect/common.css">
    <!--本页-->
    <link rel="stylesheet" href="css/noroom_booking/style.css">
    <!-- 图片放大 -->
    <link rel="stylesheet" type="text/css" href="css/pic_show/style.css">
    <script type="text/javascript" src="js/pic_show/bigger.js"></script>

</head>
<body>
    <div class="noroom_booking_item">
        <a class="list_content_pic preview" href="#" path="img/hotel/hotel_001.jpg" style="background-image: url(img/hotel/hotel_001.jpg);"></a>
        <div class="noroom_booking_item_content">
            <div class="noroom_booking_item_title">混合6人宿舍-单人床位</div>
            <div class="noroom_booking_item_text">你搜索的日期我们没房了...</div>
        </div>
    </div>
</body>
</html>