<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下拉select美化省市城市选择js插件</title>
    <meta name="keywords" content="下拉select,美化,省市,城市选择,js插件" />
    <meta name="description" content="下拉select美化省市城市选择js插件下载。" /> 
    <meta name="author" content="js代码(www.jsdaima.com)" />
    <meta name="copyright" content="js代码(www.jsdaima.com)" />
    <link rel="stylesheet" href="css/select_city/citySelect.css">
    <script src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/select_city/citySelect.js"></script>
</head>
<body>
<div class="search">
    <div class="citySelect">
        <span class="cityName">北京</span>
        <i class="iconDown"></i>
        <i class="line"></i>
    </div>

    <div class="dropDown">
        <div class="dropProv">
            <ul class="dropProvUl dropUl"></ul>
        </div>
        <div class="dropCity">
            <ul class="dropCityUl dropUl"></ul>
        </div>
    </div>
</div>

</body>
</html>