
<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
<title>纯CSS实现简单实用侧边导航菜单栏鼠标经过带动画效果特效代码</title>
<meta name="keywords" content="纯CSS,简单实用,侧边,导航菜单,鼠标经过,动画效果,特效代码" />
<meta name="description" content="纯CSS实现简单实用侧边导航菜单栏鼠标经过带动画效果特效代码下载。" /> 
<meta name="author" content="js代码(www.jsdaima.com)" />
<meta name="copyright" content="js代码(www.jsdaima.com)" />

<!--默认样式-->
<link rel="stylesheet" href="css/navigation/reset.min.css">

<!--图标样式-->
<link rel='stylesheet' href='css/navigation/all.min.css'>

<!--主要样式-->
<link rel="stylesheet" href="css/navigation/style.css">

<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/navigation/navigation.js"></script>

</head>

<body>

<!--左侧导航-->
<div class="page">
	<div class="navbar">
		<div class="user">
			<div class="user_pic"></div>
			<div class="user_name">用户</div>
		</div>
		<div class="bar">
			<div class="options">
				<ul>
					<li class="active">网站导航</li>
					<a href="http://www.jsdaima.com/"><li>网站首页</li></a>
					<a href="http://www.jsdaima.com/js/"><li>js特效</li></a>
					<a href="http://www.jsdaima.com/webpage/"><li>网站模板</li></a>
					<a href="http://www.jsdaima.com/yuanma/"><li>网站源码</li></a>
					<a href="http://www.jsdaima.com/video/"><li>视频教程</li></a>
					<a href="http://www.jsdaima.com/qita/"><li>资源共享</li></a>
				</ul>
			</div>
			<div class="settings">
				<ul>
					<li class="acc-settings"><i class="fas fa-cog"></i> 账号设置</li>
					<li><i class="fas fa-sign-out-alt"></i> 退出</li>
				</ul>
			</div>
        </div>
    </div>
    <div class="hidebar"></div>
</div>



</body>

</html>
