<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>简单易用星级评分特效代码</title>
<meta name="keywords" content="简单易用,星级评分,特效代码" />
<meta name="description" content="简单易用星级评分特效代码下载，鼠标经过不同的星星，动态加载显示星级评分内容。" /> 
<meta name="author" content="js代码" />
<meta name="copyright" content="js代码" />
<link type="text/css" href="css/star/style.css" rel="stylesheet" />
<link type="text/css" href="css/public_effect/common.css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/star/script.js"></script>

</head>

<body>
	<!-- 动态 -->
	<span class="xzw_starBox">
		<ul class="star stars">
			<li><a href="#" title="一星" class="star1">1</a></li>
			<li><a href="#" title="两星" class="star2">2</a></li>
			<li><a href="#" title="三星" class="star3">3</a></li>
			<li><a href="#" title="四星" class="star4">4</a></li>
			<li><a href="#" title="五星" class="star5">5</a></li>
		</ul>
	</span>
	<!-- 静态 -->
	<span class="xzw_starBox">
		<span class="show">
			<span class="score score1"></span>
		</span>
	</span>
</body>
</html>
