<html>
	<head>
		<meta charset="utf-8">
		<title>jQuery鼠标经过文字标题四屏百叶窗动画风格切换大图特效代码</title>
        <meta name="keywords" content="jQuery,鼠标经过,文字标题,四屏,百叶窗动画,风格,切换大图,特效代码" />
        <meta name="description" content="jQuery鼠标经过文字标题四屏百叶窗动画风格切换大图特效代码下载。" /> 
        <meta name="author" content="js代码(www.jsdaima.com)" />
        <meta name="copyright" content="js代码(www.jsdaima.com)" />
        <link rel="stylesheet" type="text/css" href="css/fourPicShow/style.css">
		<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="js/fourPicShow/show.js"></script>
	</head>
	<body>
        <!-- 4页图窗 -->
        <div class="box">
            <ul class="inbox">
                <li class="ad1"></li>
                <li class="ad2"></li>
                <li class="ad3"></li>
                <li class="ad4"></li>
                <a href="http://www.baidu.com/" target="_blank" class="text"><h1>旅馆04</h1><p>了解详情</p></a>
                <div class="textbg"></div>
            </ul>
            <ul class="inbox">
                <li class="ad1"></li>
                <li class="ad2"></li>
                <li class="ad3"></li>
                <li class="ad4"></li>
                <a href="http://www.baidu.com/" target="_blank" class="text"><h1>旅馆02</h1><p>了解详情</p></a>
                <div class="textbg"></div>
            </ul> 
            <ul class="inbox">
                <li class="ad1"></li>
                <li class="ad2"></li>
                <li class="ad3"></li>
                <li class="ad4"></li>
                <a href="http://www.baidu.com/" target="_blank" class="text"><h1>旅馆03</h1><p>了解详情</p></a>
                <div class="textbg"></div>
            </ul> 
            <ul class="inbox noborder">
                <li class="ad1"></li>
                <li class="ad2"></li>
                <li class="ad3"></li>
                <li class="ad4"></li>
                <a href="http://www.baidu.com/" target="_blank" class="text"><h1>旅馆04</h1><p>了解详情</p></a>
                <div class="textbg"></div>
            </ul>       
        </div><!--box结束-->
        
	</body>
</html>