<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jQuery鼠标经过缩略图文字标题显示放大图片特效代码</title>
<meta name="keywords" content="jQuery,鼠标经过,缩略图,文字标题,显示放大图片,特效代码" />
<meta name="description" content="jQuery鼠标经过缩略图文字标题显示放大图片特效代码。备注：经过文字标题也显示图片哦，赶紧试试吧~" /> 
<meta name="author" content="js代码(www.jsdaima.com)" />
<meta name="copyright" content="js代码(www.jsdaima.com)" />
<link rel="stylesheet" type="text/css" href="css/pic_show/style.css">
<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/pic_show/bigger.js"></script>
</head>

<body>

	<a href="" path="img/fourPicShow/hotel01.jpg" style="background-image: url(img/fourPicShow/hotel01.jpg);" class="preview"></a>
	<a href="" path="img/fourPicShow/hotel02.jpg" style="background-image: url(img/fourPicShow/hotel02.jpg);" class="preview"></a>
	<a href="" path="img/fourPicShow/hotel03.jpg" style="background-image: url(img/fourPicShow/hotel03.jpg);" class="preview"></a>  

</body>
</html>