<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>标题部件测试</title>
    <link rel="stylesheet" href="css/public_effect/common.css">
    <link rel="stylesheet" href="css/title/style.css">
</head>
<body>
    <!-- 标题 -->
    <div class="title">
        <div class="Titem1">
            <div>酒店辅助订购系统</div>
        </div>
        <div class="Titem2">
            <a href="home.html">首页</a>
            <a href="home.html">查询酒店</a>
            <a href="home.html">登录/注册</a>
        </div>
    </div>
</body>
</html>