<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<title>纯CSS实现多彩炫酷斜条纹注意提示语特效动画背景</title>
<meta name="keywords" content="纯CSS,多彩,炫酷,斜条纹,注意,提示语,特效动画,动画背景" />
<meta name="description" content="纯CSS实现多彩炫酷斜条纹注意提示语特效动画背景代码下载。文字可自定义。" /> 
<meta name="author" content="js代码(www.jsdaima.com)" />
<meta name="copyright" content="js代码(www.jsdaima.com)" />


<!--核心样式-->
<link rel="stylesheet" href="css/circle_word/style.css">

<link rel="stylesheet" href="css/public_effect/common.css">

</head>

<body style="height: 100vh; overflow:hidden; display: flex;">
<a href="home.html">
	<div class="stripe" style="height: 100%;">
		<div class="stripe_inner" style="font-size: 100px">酒店辅助订购</div>
	</div>
</a>
</body>
</html>