<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 公有 -->
    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/public_js/message.js"></script>
    <link rel="stylesheet" href="css/public_effect/common.css">
    <!--本页-->
    <link rel="stylesheet" href="css/room_booking/style.css">
    <!-- 图片放大 -->
    <link rel="stylesheet" type="text/css" href="css/pic_show/style.css">
    <script type="text/javascript" src="js/pic_show/bigger.js"></script>

</head>
<body>
    <div class="room_booking_item">
        <div class="room_booking_item_title">6床女性宿舍间的1张床位 (Bed in 6-Bed Female Dormitory Room)</div>
        <div class="room_booking_item_info">
            <div class="room_booking_item_info_list list_0">
                <div class="room_booking_item_info_list_title">房型</div>
                <div class="room_booking_item_info_list_content">
                    <a class="list_content_pic preview" href="#" path="img/hotel/hotel_001.jpg" style="background-image: url(img/hotel/hotel_001.jpg);"></a>
                </div>
            </div>
            <div class="room_booking_item_info_list list_1">
                <div class="room_booking_item_info_list_title">相关条款</div>
                <div class="room_booking_item_info_list_content">
                    <p style="font-weight: 600;">优惠</p>
                    <div>
                        <div class="list_content_item">无需信用卡</div>
                        <div class="list_content_item">免费WiFi</div>
                        <div class="list_content_item">1周内免费退订</div>
                        <div class="list_content_item">立即确认</div>
                    </div>
                </div>
            </div>
            <div class="room_booking_item_info_list list_2">
                <div class="room_booking_item_info_list_title">人数限制</div>
                <div class="room_booking_item_info_list_content">
                    <div class="list_content_text">1名13岁以下儿童可免费入住</div>
                </div>
            </div>
            <div class="room_booking_item_info_list list_3">
                <div class="room_booking_item_info_list_title">今日房价</div>
                <div class="room_booking_item_info_list_content">
                    <div class="list_content_text">
                        <div>
                            <span style="font-size: 18px">RMB</span><span>60</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room_booking_item_info_list list_4">
                <div class="room_booking_item_info_list_title">房数</div>
                <div class="room_booking_item_info_list_content">
                    <input type="number" min="0" max="3">
                </div>
            </div>
            <div class="room_booking_item_info_list list_5">
                <div class="room_booking_item_info_list_title">用户首选</div>
                <div class="room_booking_item_info_list_content">
                    <div class="list_content_btn">立即预定</div>
                </div>
            </div>
        </div>
    </div>

    <div class="booking_check">
        <div class="booking_check_list">
            <div class="booking_check_div"><span class="booking_check_name">姓名:</span><input class="booking_check_input" type="text" readonly="readonly"></div>
            <div class="booking_check_div"><span class="booking_check_name">人数:</span><input class="booking_check_input" type="text" readonly="readonly"></div>
        </div>
        <div class="booking_check_list">
            <div class="booking_check_div"><span class="booking_check_name">电话:</span><input class="booking_check_input" type="text" readonly="readonly"></div>
            <div class="booking_check_div"><span class="booking_check_name">邮箱:</span><input class="booking_check_input" type="text" readonly="readonly"></div>
        </div>
        <div class="booking_check_list">
            <div class="booking_check_div"><span class="booking_check_name">房间:</span><input class="booking_check_input" type="text" readonly="readonly"></div>
            <div class="booking_check_div"><span class="booking_check_name">价格:</span><input class="booking_check_input" type="text" readonly="readonly"></div>
        </div>
        <div class="booking_check_list">
            <div class="booking_check_div"><span class="booking_check_name">入住时间:</span><input class="booking_check_input" type="text" readonly="readonly"></div>
            <div class="booking_check_div"><span class="booking_check_name">退房时间:</span><input class="booking_check_input" type="text" readonly="readonly"></div>
        </div>
        <div class="booking_check_btn">确认信息</div>
        <div class="booking_check_cancel"></div>
    </div>
</body>
</html>