<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/hotel_item/style.css">
    <link rel="stylesheet" type="text/css" href="css/pic_show/style.css">
    <link rel="stylesheet" type="text/css" href="css/public_effect/common.css">
    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="js/pic_show/bigger.js"></script>
</head>
<body>
<div class="item_block_big">
    <div class="item_block_small item_row">
        <a href="" path="img/fourPicShow/hotel01.jpg" style="background-image: url(img/fourPicShow/hotel01.jpg);" class="preview"></a>
          <div class="item_info_1 item_row">整套房子·2床</div>
          <div class="item_info_2 item_row">Laguna蓝 /广州佛山/千灯湖/地铁口/祖庙/岭南新天地/南海万达/世纪莲/北京路/上下九/沙面</div>  
          <div class="item_info_3 item_row"><span class="price_now">￥270</span><span class="price_pre">￥300</span>每晚</div>  
          <div class="item_info_4 item_row"><span class="item_score"></span><span class="item_score_num">47</span></div>                    
    </div>
    <div class="item_block_small item_row">
        <a href="" path="img/fourPicShow/hotel02.jpg" style="background-image: url(img/fourPicShow/hotel02.jpg);" class="preview"></a>
          <div class="item_info_1 item_row">整套房子·2床</div>
          <div class="item_info_2 item_row">Laguna蓝 /广州佛山/千灯湖/地铁口/祖庙/岭南新天地/南海万达/世纪莲/北京路/上下九/沙面</div>  
          <div class="item_info_3 item_row"><span class="price_now">￥270</span><span class="price_pre">￥300</span>每晚</div>  
          <div class="item_info_4 item_row"><span class="item_score"></span><span class="item_score_num">47</span></div>                    
    </div>
    <div class="item_block_small item_row">
        <a href="" path="img/fourPicShow/hotel03.jpg" style="background-image: url(img/fourPicShow/hotel03.jpg);" class="preview"></a>
          <div class="item_info_1 item_row">整套房子·2床</div>
          <div class="item_info_2 item_row">Laguna蓝 /广州佛山/千灯湖/地铁口/祖庙/岭南新天地/南海万达/世纪莲/北京路/上下九/沙面</div>  
          <div class="item_info_3 item_row"><span class="price_now">￥270</span><span class="price_pre">￥300</span>每晚</div>  
          <div class="item_info_4 item_row"><span class="item_score"></span><span class="item_score_num">47</span></div>                    
    </div>
    <div class="item_block_small item_row">
        <a href="" path="img/fourPicShow/hotel04.jpg" style="background-image: url(img/fourPicShow/hotel04.jpg);" class="preview"></a>
          <div class="item_info_1 item_row">整套房子·2床</div>
          <div class="item_info_2 item_row">Laguna蓝 /广州佛山/千灯湖/地铁口/祖庙/岭南新天地/南海万达/世纪莲/北京路/上下九/沙面</div>  
          <div class="item_info_3 item_row"><span class="price_now">￥270</span><span class="price_pre">￥300</span>每晚</div>  
          <div class="item_info_4 item_row"><span class="item_score"></span><span class="item_score_num">47</span></div>                    
    </div>
    <div class="item_block_small item_row">
        <a href="" path="img/fourPicShow/hotel01.jpg" style="background-image: url(img/fourPicShow/hotel01.jpg);" class="preview"></a>
          <div class="item_info_1 item_row">整套房子·2床</div>
          <div class="item_info_2 item_row">Laguna蓝 /广州佛山/千灯湖/地铁口/祖庙/岭南新天地/南海万达/世纪莲/北京路/上下九/沙面</div>  
          <div class="item_info_3 item_row"><span class="price_now">￥270</span><span class="price_pre">￥300</span>每晚</div>  
          <div class="item_info_4 item_row"><span class="item_score"></span><span class="item_score_num">47</span></div>                    
    </div>
</div>
    
</body>
</html>