<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 公有 -->
    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="css/public_effect/common.css">
    <!--本页-->

    <!-- 标题 -->
    <link rel="stylesheet" href="css/title/style.css">
</head>
<body>
    <!-- 标题 -->
    <div class="title" style="position: absolute; top: 0; left: 0; z-index: 3;">
        <div class="Titem1">
            <a href="home.html">酒店辅助订购系统</a>
        </div>
    </div>
    <!-- 标题结束 -->
</body>
</html>