<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 公有 -->
    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="css/public_effect/common.css">
    <!--本页-->
    <link rel="stylesheet" href="css/user_info_change/style.css">
    <script src="js/user_info_change/main.js"></script>
    <!-- 标题 -->
    <link rel="stylesheet" href="css/title/style.css">
    <!-- 日历选择 -->
    <script src="js/calendar/laydate.js"></script>
    <!-- 城市选择 -->
    <link rel="stylesheet" href="css/select_city/citySelect.css">
    <script type="text/javascript" src="js/select_city/citySelect.js"></script>
    <script th:inline="javascript">
        function updateInfo() {
            var newpsd = $("#newpsd").val(), newpsd2 = $("#newpsd2").val(),
                oldpsd = $("#oldpsd").val();
            var psd = [[${session.psd}]];
            if (newpsd != "") {
                alert(newpsd);
                if (newpsd2 == newpsd) {
                    if (psd == oldpsd) {
                        alert("更新信息成功!");
                        $("#newpsd").attr("name", "psd");
                    } else {
                        alert("输入的旧密码不正确!");
                    }
                } else {
                    alert("请确认两次输入的密码相同!");
                }
            } else {
                alert("更新信息成功!");
            }
        }
    </script>
</head>
<body>
    <!-- 标题 -->
    <div class="title">
        <div class="Titem1">
            <a href="home.html">酒店辅助订购系统</a>
        </div>
    </div>
    <!-- 标题结束 -->
    <div class="change_big_div">
        <form id="change_form" th:method="post" th:action="@{/updateinfo}" th:onsubmit="updateInfo()" th:object="${user}">
            <div class="change_small_div"><span class="left_span" >昵称：</span><input class="change_text" name="nick" type="text" th:value="*{nick}"><span class="right_span hidden">该昵称已被使用</span></div>
            <div class="change_small_div"><span class="left_span">性别：</span><input class="change_radio" name="gender" type="radio" checked="checked">男<input class="change_radio" name="gender" type="radio" value="1">女<span class="right_span hidden"></span></div>
            <div class="change_small_div"><span class="left_span">生日：</span><input class="change_text" name="birth" type="text" onClick="laydate()" th:value="${#dates.format(user.birth, 'yyyy-MM-dd')}"><span class="right_span hidden">请填写生日信息</span></div>
            <div class="change_small_div"><span class="left_span">居住地：</span><input class="change_text" name="city" type="text" th:value="*{city}"><span class="right_span hidden">请填写居住地信息</span></div>
            <div class="change_small_div"><span class="left_span">手机号：</span><input class="change_text" name="tel" type="text" oninput = "value=value.replace(/[^\d]/g,'')" th:value="*{tel}"><span class="right_span hidden">手机号信息错误</span></div>
            <div class="change_small_div"><span class="left_span">邮箱号：</span><input class="change_text" name="mail" type="text" th:value="*{mail}"><span class="right_span hidden">邮箱信息错误</span></div>
            <div class="change_small_div"><span class="left_span">更改新密码：</span><input class="change_text" type="text" id="newpsd"><span class="right_span hidden">密码格式错误</span></div>
            <div class="change_small_div"><span class="left_span">再次输入新密码：</span><input class="change_text" type="text" id="newpsd2"><span class="right_span hidden">两次密码不一样</span></div>
            <div class="change_small_div"><span class="left_span">输入旧密码：</span><input class="change_text" type="text" id="oldpsd"><span class="right_span hidden">密码错误</span></div>

            <input type="submit" class="change_complete_div" value="完成修改"></input>
        </form>
    </div>
</body>
</html>