<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 公有 -->
    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/public_js/message.js"></script>
    <link rel="stylesheet" href="css/public_effect/common.css">
    <!--本页-->
    <link rel="stylesheet" href="css/user_info_change/style.css">
    <script src="js/user_info_change/main.js"></script>
    <!-- 标题 -->
    <link rel="stylesheet" href="css/title/style.css">
    <!-- 日历选择 -->
    <script src="js/calendar/laydate.js"></script>
    <!-- 城市选择 -->
    <link rel="stylesheet" href="css/select_city/citySelect.css">
    <script type="text/javascript" src="js/select_city/citySelect.js"></script>
</head>
<body>
<!-- 标题 -->
<div class="title">
    <div class="Titem1">
        <a href="/home"><div class="web_logo"></div></a>
        <div class="title_search_div">
            <input class="title_search" type="search" placeholder="搜索...">
            <div class="title_search_icon"></div>
        </div>
    </div>
</div>
<!-- 标题结束 -->
<div class="change_big_div">
    <form id="change_form" th:method="post" th:action="@{/updateinfo}" th:onsubmit="updateInfo()" th:object="${user}">
        <div class="change_small_div"><span class="left_span">用户ID：</span><div class="change_text" name="userId" type="text" readonly="readonly" th:text="*{userId}"></div><span class="right_span hidden">该ID已被使用</span></div>
        <div class="change_small_div"><span class="left_span">昵称：</span><div class="change_text" name="nick" type="text" readonly="readonly" th:text="*{nick}"></div><span class="right_span hidden">该昵称已被使用</span></div>
        <div class="change_small_div"><span class="left_span">性别：</span><div class="change_radio"   readonly="readonly" type="text"  th:text="${gender eq 'f'}? '女' :'男'"></div></div>
        <div class="change_small_div"><span class="left_span">生日：</span><div class="change_text" name="birth" type="text" readonly="readonly" onClick="laydate()" th:text="${#dates.format(user.birth, 'yyyy-MM-dd')}"></div><span class="right_span hidden">请填写生日信息</span></div>
        <div class="change_small_div"><span class="left_span">居住地：</span>
            <div class="change_text" name="city" type="text" readonly="readonly" th:text="*{city}"></div>
            <!-- console.log($("input[name='city']").val()) 供给控制台测试 -->
            <div class="search">
                <div class="citySelect">
                    <span class="cityName"></span>
                    <i class="iconDown"></i>
                    <i class="line"></i>
                </div>

                <div class="dropDown">
                    <div class="dropProv">
                        <ul class="dropProvUl dropUl"></ul>
                    </div>
                    <div class="dropCity">
                        <ul class="dropCityUl dropUl"></ul>
                    </div>
                </div>
            </div>
            <span class="right_span hidden">请填写居住地信息</span></div>
        <div class="change_small_div"><span class="left_span">手机号：</span><div class="change_text" name="tel" readonly="readonly" th:text="*{tel}" type="text" oninput = "value=value.replace(/[^\d]/g,'')"></div><span class="right_span hidden">手机号信息错误</span></div>
        <div class="change_small_div"><span class="left_span">邮箱号：</span><div class="change_text" name="mail" readonly="readonly" th:text="*{mail}" type="text" ></div><span class="right_span hidden">邮箱信息错误</span></div>
    </form>
</div>

<!-- 底部 -->
<div class="page_bottom">
    <div class="web_logo"></div>
    <div class="page_bottom_text">四川大学JAVA项目27组</div>
</div>
</body>
</html>