body{
    background: rgb(240,240,240);
}

.check_content{
    width: 100%;
    min-width: 600px;
    padding: 30px 0;
    z-index: 7;
}

.check_list{
    width: 60%;
    margin: 50px auto 0;
    height: auto;
    display: flex; 
    position: relative;
    left: 2%;
}

.check_div{
    flex: 1;
}

.check_name{
    display: block;
    margin: 5px;
    font-weight: 600;
    width: 90%;
    text-align: left;
}

.check_input{
    margin: 0 10px;
    width: 90%;
    padding: 5px 10px;
    font-size: 16px;
}

.check_textarea{
    height: 200px;
    width: 100%;
    padding: 10px;
    resize: none;
    font-size: 16px;
}

.check_op{
    width: 300px;
    margin: 15vh auto;
    display: flex;
    justify-content: space-between;
}

.check_btn{
    width: 120px;
    height: 40px;
    padding: 5px;
    text-align: center;
    color: rgb(255,255,255);
    background: rgb(29, 170, 235);
    cursor: pointer;
    border: none;
}

.check_btn:active{
    background: rgb(29, 94, 148);
    border: none;
}