body{
    padding: 0;
    margin: 0;
    min-width: 800px;
}

ol,ul{
    list-style:none
}

a:hover,a:link,a:active.a:visited{
    text-decoration-line: none;
}

.part{
    width: 100vw;
    height: 100vh;
    min-height: 480px;
    position: relative;
    top: 0;
}



.right{
    right: 0px;
    transform:rotate(180deg);
}

.left{
    left: 0px;
}

.black_tab{
    width: 30px;
    height: 100%;
    background: linear-gradient(to left, rgba(225, 225, 225, 0.5) , rgba(55, 55, 55, 0.7));
    position: absolute;
    filter: blur(2px);
    transition: all 0.5s;
    z-index: 4;
}

.black_tab:hover{
    filter: none;
    width: 60px;
}

.icon{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon_triangle{
    background-image: url(../../img/icon/arrow.png);
    
}


.hidden{
    visibility: hidden;
}

.input-error{
    border: rgb(209, 18, 18) 1px solid!important;
    background-color: rgb(250,250,210);
}

.page_bottom{
    width: 60%;
    min-width: 500px;
    height: 50px;
    padding: 30px 10%;
    margin: 100px auto 0;
    border-top: 1px solid rgba(105,105,105,0.5);
    display: flex;
    background: rgba(255,255,255,0.5);
}

.web_logo{
    width: 40px;
    height: 40px;
    padding: 5px;
    background-image: url(../../img/icon/web_logo.png);
    background-size: contain;
}

.page_bottom_text{
    flex: 1;
    text-align: center;
    font-weight: 600;
    padding: 12px;
}