.log{
    position: fixed;
    left: -100vw;
    top: 0;
    background-color: rgba(255, 255, 255,0.3);
    background-image: url(../../img/bg/bg_01.jpg);
    background-size: cover;
    background-blend-mode: lighten;
    z-index: 92;
}

.icon_cancel{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    background-image:  url(../../img/icon/cancel.png);
    background-size: contain;
    transition: all 0.3s;
    cursor: pointer;
}

.icon_cancel:hover{
    width: 40px;
    height: 40px;
}