.intro{
    position: relative;
    width: 100%;
    height: 75vh;
    min-height: 480px;
}
.font_style {
    font-family: 'PingFang-SC'!important;
    color: #484848 !important;
    font-weight: 800 !important;
}
.intro_pic{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center;*/
}

.intro_pic:nth-child(4){
    background-image: url(../../img/hotel/bg_004.jpg);
    opacity: 0;
}

.intro_pic:nth-child(5){
    background-image: url(../../img/hotel/bg_005.jpg);
    opacity: 0;
}

.intro_pic:nth-child(6){
    background-image: url(../../img/hotel/bg_006.jpg);
    opacity: 1;
}

#searchBar{
    position: absolute;
    bottom: 30px;
    display: flex;
    left: 12.5vw;
    width: 75vw;
    min-width: 880px;
    z-index: 2;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: rgb(255,255,255);
}

#searchBar .div_search{
    padding: 25px 10px;
    border-right: 1px solid rgba(0,0,0,0.1);
}

#searchBar .div_search input{
    border: 0;
    outline:none;
    width: 50%;
    font-size: 16px;
    font-weight: 600;
}

#searchBar .chose_price{
    flex: 1;
}

#searchBar .chose_price select{
    border: none;
    outline: none;
    width: 80px;
}

#searchBar .chose_position{
    position: relative;
    flex:1;
}

#searchBar .chose_date{
    flex:1;
}

#searchBar .search_button{
    display: block;
    outline: none;
    box-shadow: none;
    margin: 10px;
    padding: 20px 20px;
    background-color: rgb(221, 97, 89);
    color: rgb(255,255,255);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#searchBar .search_button:active{
    border: none;
    background-color: rgb(202, 61, 51);
}

/* 城市下拉 */
.search{
    top: 16px;
    left: 90px;
}

.dropDown{
    position: relative;
    top: 25px;
    width: 250px;
}


.related_service{
    width: 76%;
    height: 50px;
    padding: 40px 2% 20px;
    margin: 50px auto;
    display: flex;
}

.Related_service_item{
    flex: 1;
    display: flex;
    padding: 0 20px;
    height: 100%;
}

.Related_service_icon{
    position: relative;
    top:15px;
    right: 10px;
    padding: 5px;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.Related_service_item:nth-of-type(1) .Related_service_icon{
    background-image: url(../../img/icon/service_1.png);
}
.Related_service_item:nth-of-type(2) .Related_service_icon{
    background-image: url(../../img/icon/service_2.png);
}
.Related_service_item:nth-of-type(3) .Related_service_icon{
    background-image: url(../../img/icon/service_3.png);
}

.Related_service_text p:nth-of-type(1){
    font-size: 16px;
    font-weight: 600;
}
.Related_service_text p:nth-of-type(2){
    font-size: 12px;
}

@media  screen and (min-width:1000px){
    .item_block_big{
        width: 75vw;
        left: 20px;
    }
    .item_block_small{
        padding: 0.5vw;
        margin-bottom: 10px;
    }
    .item_row{
        margin-top: 3px;
        width: 24vw;
    }
    .preview{
        width: 24vw;
        height: 16vw;
    }
}

@media  screen and (max-width:1000px){
    .item_block_big{
        width: 88vw;
        min-width: calc(88*var(--pixel));
    }
    .item_block_small{
        padding: 1vw;
    }
    .item_row{
        margin-top: 5px;
        width: 42vw;
        min-width: calc(42*var(--pixel));
    }
    .preview{
        width: 42vw;
        min-width: calc(42*var(--pixel));
        height: 27vw;
        min-height: calc(27*var(--pixel));
    }
}