.intro{
    position: relative;
    width: 100%;
    height: 75vh;
    min-height: 480px;
}

.intro_pic{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro_pic:nth-child(4){
    background-image: url(../../img/hotel/hotel_001.jpg);
    opacity: 0;
}

.intro_pic:nth-child(5){
    background-image: url(../../img/hotel/hotel_002.jpg);
    opacity: 0;
}

.intro_pic:nth-child(6){
    background-image: url(../../img/hotel/hotel_003.jpg);
    opacity: 1;
}

#searchBar{
    position: absolute;
    bottom: 30px;
    display: flex;
    left: 12.5vw;
    width: 75vw;
    min-width: 600px;
    z-index: 2;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: rgb(255,255,255);
}

#searchBar .div_search{
    padding: 25px 10px;
    border-right: 1px solid rgba(0,0,0,0.1);
}

#searchBar .div_search input{
    border: 0;
    outline:none;
    width: 50%;
    font-size: 16px;
    font-weight: 600;
}

#searchBar .chose_num{
    flex: 1;
}

#searchBar .chose_position{
    position: relative;
    flex:2;
}

#searchBar .chose_date{
    flex:2;
}

#searchBar .search_button{
    display: block;
    outline: none;
    box-shadow: none;
    margin: 10px;
    padding: 20px 20px;
    background-color: rgb(221, 97, 89);
    color: rgb(255,255,255);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#searchBar .search_button:active{
    border: none;
    background-color: rgb(202, 61, 51);
}

/* 评分 */
.show{
    transform: scale(0.7,0.7);
    position: relative;
    left: -20px;
}

/* 城市下拉 */
.search{
    top: 16px;
    left: 90px;
}

.dropDown{
    position: relative;
    top: 25px;
    width: 250px;
}


.related_service{
    width: 76%;
    height: 50px;
    padding: 40px 2% 20px;
    margin: 50px auto;
    display: flex;
}

.Related_service_item{
    flex: 1;
    display: flex;
    padding: 0 20px;
    height: 100%;
}

.Related_service_icon{
    position: relative;
    top:15px;
    right: 10px;
    padding: 5px;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.Related_service_item:nth-of-type(1) .Related_service_icon{
    background-image: url(../../img/icon/service_1.png);
}
.Related_service_item:nth-of-type(2) .Related_service_icon{
    background-image: url(../../img/icon/service_2.png);
}
.Related_service_item:nth-of-type(3) .Related_service_icon{
    background-image: url(../../img/icon/service_3.png);
}

.Related_service_text p:nth-of-type(1){
    font-size: 16px;
    font-weight: 600;
}
.Related_service_text p:nth-of-type(2){
    font-size: 12px;
}