.intro{
    position: relative;
    width: 100vw;
    height: 75vh;
    min-height: 480px;
}

 .triangle{
   background-image: url(../../img/icon/arrow.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-color: rgba(255,255,255,1);
   border-radius: 15px;
   background-blend-mode: darken;
   z-index: 2;
}

.intro_pic{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro_pic:nth-child(4){
    background-image: url(../../img/hotel/hotel_001.jpg);
    opacity: 0;
}

.intro_pic:nth-child(5){
    background-image: url(../../img/hotel/hotel_002.jpg);
    opacity: 0;
}

.intro_pic:nth-child(6){
    background-image: url(../../img/hotel/hotel_003.jpg);
    opacity: 1;
}

#searchBar{
    position: absolute;
    bottom: 30px;
    display: flex;
    left: 12.5vw;
    width: 75vw;
    min-width: calc(75*8px);
    z-index: 2;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: rgb(255,255,255);
}

#searchBar .div_search{
    padding: 25px;
    border-right: 1px solid rgba(0,0,0,0.1);
}

#searchBar .div_search input{
    border: 0;
    outline:none;
    width: 90%;
    font-size: 16px;
    font-weight: 600;
}

#searchBar .chose_num{
    flex: 2;
}

#searchBar .chose_position{
    flex:5;
}

#searchBar .chose_date{
    flex:3;
    transition: all 0.5s;
}

#searchBar .chose_date:focus-within{
    flex:5;
}

#searchBar .search_button{
    margin: 10px;
    padding: 15px 20px;
    background-color: rgb(255, 118, 118);
    color: rgb(255,255,255);
    border-radius: 5px;
    cursor: pointer;
}

.show{
    transform: scale(0.7,0.7);
    position: relative;
    left: -20px;
}

.home_bottom{
    margin-top: 300px;
    height: 30px;
    width: 100%;
    background-color: rgb(21, 49, 71)
}